<h1>Create a new Image</h1>

<%= form_for([@image.gallery, @image]) do |form| %> <!-- FORM HAS A PATH_GALLERY METHOD WHICH NEEDS US TO DEFINE IT BY PUTTING AS: :GALLERY IN THE CONTROLLERS-->
  <%= render form %>
  <%= form.submit "Create Image" %>
<% end %>
